@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto+Slab&display=swap');

/* O '*' Seleciona todos os atributos arquivo */
*{
margin: 0;
padding: 0;
font-family: 'Open Sans', sans-serif;
}

body{
    height: 100vh; 
    background:linear-gradient(120deg, #1331d8, #15d11b) ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.relogio{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
margin-right: 20px;
}

.relogio div{
    height: 170px;
    width: 150px;
    /* o flex faz com que os elemetos fiquem um ao lado do outro */
    display: flex;
    /* junto com o Flex dir.=column eles ficam alianhados um em cima do outro */
    flex-direction: column;
align-items: center;
justify-content: center;
color:#fff;
background-color: rgba(5, 5, 5, .9);
box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
border-radius: 7px;
/* letter serve para o espaçamento entre as letras */
letter-spacing: 3px;

}
.relogio span{
    font-weight: bolder;
    font-size: 60px;

}
.relogio span.tempo{
    font-size: 12px;
}


/* Relógio Analogico */

.relogio-ponteiro{
    background-color: #2d2f41;
    position: relative;
    width: 460px;
    height: 460px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 5px 25px rgba(14, 21, 37, .8);
}
.relogio-ponteiro ul{
    list-style: none;

}
.horas-container{
    width: 460px;
}

.hora-numero{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hora-numero li{
position: absolute;
height: 100%;
top:0 ;
}

.hora-numero .num{
color: #cee0f6;
font-size: 1.6em;
font-weight: 400;
margin: 10px;
}

.hora-numero li:nth-child(1){
transform: rotate(90deg);
}
.hora-numero li:nth-child(2){
transform: rotate(180deg);
}
.hora-numero li:nth-child(3){
transform: rotate(270deg);
}
.hora-numero li:nth-child(1) .num{
transform: rotate(-90deg);
}
.hora-numero li:nth-child(2) .num{
transform: rotate(-180deg);
}
.hora-numero li:nth-child(3) .num{
transform: rotate(-270deg);
}
